@import "../base/init";
@import "../base/libs/secoo_tap";
@import "../icon/secoo_icon_font";
%flex_box{
  display: flex;
  align-items:center;
  justify-content:center;}
%absolute{
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
}
%absolute_reset{
  @extend %absolute;
  @extend %flex_box;
}

@import "tap_header";
@import "tap_search";
