/*icon 设置*/
@import "secoo_font";
  .secoo_icon_back:before{
    font-size: 18px;
  }
  .secoo_icon_more:before{
    font-size: 19px;
  }
  .secoo_icon_search:before{
    font-size: 13px;
  }
  .secoo_icon_fenlei:before{
    font-size: 19px;
  }
  .secoo_icon_logo:before{
    font-size: 33px;
  }
