/*icon 设置*/
@import "secoo_font";
  .secoo_icon_back:before{
    font-size: 18px;
  }
  .secoo_icon_more:before{
    font-size: 19px;
  }
  .secoo_icon_search:before{
    font-size: 13px;
  }
  .secoo_icon_fenlei:before{
    font-size: 19px;
    color: #000000;
  }
  .secoo_icon_logo:before{
    font-size: 33px;
    color: #000000;
  }
  .secoo_icon_delete{
    font-size: 15px;
    position: relative;
  }
  // 按钮 选中 未选中
.secoo_icon_xuanzhong,.secoo_icon_weixuan,.secoo_icon_xuanzhong_red{
  font-size: 16px;
  width: 16px;
  height: 16px;
  position: relative;
}

.secoo_icon_time,.secoo_icon_Artboard-3{
  position:relative;
}
.secoo_icon_next{
  font-size:13px;
}