@function reckon($n,$l:2){
   @if($l==1){
      @return round($n/2/18.75*10)/10;
   }@else{
      @return round($n/2/18.75*100)/100;
   }
}
/*字体色*/
$global_color_font: #ffffff;
$global_color_font_1: #1A191E;
$global_color_font_2:#E93B39;


/*背景色*/
$global_color_background: #E93B39;

/*边线色*/


/*框内 小边距*/
$global_min_padding:16px/2;


/*框外 上线间距*/
$global_min_margin:20px/2;


/*整体左右间距*/
$left_right:reckon(30rem);

/*小图片*/
$global_min_img:140px/2;
$global_min_img_mg:38px/2;

