@media screen and (min-width:320px) {
   html {
      font-size: 16px
   }
}
@media screen and (min-width :360px) {
   html {
      font-size: 18px
   }
}

@media only screen and (min-width:375px) and (max-width:383px) and (orientation :portrait) {
   html {
      font-size: 18.75px
   }
}

@media only screen and (min-width:384px) and (max-width:413px) and (orientation :portrait) {
   html {
      font-size: 19.2px
   }
}

@media only screen and (min-width:414px) and (max-width:736px) and (orientation :portrait) {
   html {
      font-size: 20.7px
   }
}
// tapcolor
@function setTapColor($c:rgba(0,0,0,0)) {
   @return $c;
}
.no_select{
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
body{@extend .no_select; background: #f5f5f5}

//默认页面
.margin_max{margin: 0 reckon(30rem)}
.in_pl{padding-left: $global_min_padding;}
.in_pr{padding-right: $global_min_padding;}
.out_margin_top{margin-top: $global_min_margin}
.out_margin_bottom{margin-bottom: $global_min_margin}

.img_box .hide,.cell .hide,.hide{display: none}
