@import "../lib-mixins-wap";
//顶部导航
@import '../panel/panel.scss';

@import '../tap_bars/tap.scss';
//按钮
@import '../btn/btn.scss';
$DevH:750;
.mt20{
  @include mt(20rem);
}
.paytype-item{
  .pay-icon{
    width:22px;
    height:22px;
    margin-right:8px;
    img{
      @extend %max;
    }
  }
}
div.info.cashier-zero{
  color:#E93B39;
}
.cashier-first{
  span{
    color:#999;
    font-size:12px;
  }
}
.cashier-second{
  display:flex;
  span{
    color:#E93B39;
    font-size:12px;
    @extend %center;
    @include mr(26rem);
  }
}
.cashier-third{
  span{
    color:#ddd;
  }
}
.footer-cashierDesk{
  width:100%;
  @include height(187rem);
  @include padding(0rem,16rem,16rem,16rem);
  -webkit-box-sizing:border-box;
  background:#fff;
  position:fixed;
  left:0;
  bottom:0;
  .cashierDesk-timer{
    @include height(82rem);
    @extend %center;
    > span{
      @include mr(20rem);
    }
    div{
      font-size:15px;
      color:#1A191E;
    }
    >*{
      display:none;
    }
  }
}