@import "../base/init";
@import "../base/libs/secoo_panel";
@import "../icon/secoo_icon_font";
a{color: $cell_font_color}
.red{color: $global_color_font_2;}
.black{color: $cell_font_color}
.bold{font-weight: 500;}
// 按钮组合基类
.cell{
  overflow: hidden;
  font-size: $cell_font;
  position: relative;
  height: $cell_height;
  display: flex;
  padding: 0 $left_right;
  box-sizing: border-box;
  align-items: center;
  background-color: $cell_back_color;
  div{
    flex-grow: 1;
  }
  %icon{width:$cell_min_icon; height: $cell_min_icon;}
  p{
      @extend %icon;
      background: url("http://mpic.secooimg.com/images/2016/09/22/payListIcon.png") no-repeat;
      background-size: $cell_min_icon;
      img{
        @extend %icon;
      }
  }
  .info{
    font-size: $cell_font_2;
    text-align: right;
    color: $cell_font_color2;
  }
  .gray{
    color: $cell_font_color3;
  }
  .red{
      font-size: $cell_font_3;
      background-color: $global_color_background;
      color: $global_color_font;
      flex-grow: inherit;
      border-radius: 50px;
      padding: $cell_min_padding_1 $global_min_padding;
  }
  span{
    color: $cell_font_color4;
  }
}
.clell_border{
  &:before{
    content: ' ';
    border-bottom: 1px solid $cell_border_color;
    height: 1px;
    position: absolute;
    transform: scaleY(.5);
    transform-origin: 0 0;
    left: $left_right;
    width: 100%;
    top:0;
    z-index: 2;
  }
}
a.cell{
  &:visited{
    background-color:$cell_back_color2;
  }
  &:active{
    background-color: $cell_back_color2;
  }
}
.cell.form{
  input,select{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    outline:none;
    color: $cell_font_color2;
  }
  div{
    flex-grow: inherit;
  }
  div:first-child{
    padding-right: 10px;
  }
  div:nth-child(2){
    flex-grow: 1;
    text-align: left;
    position: relative;
    input{
      height: $cell_height;
      width: 100%;
      border: 0;
      padding-right: 20px;
      box-sizing:border-box;
    }
  }
  div.close_box{
    position: absolute;
    top:0;
    right: 0;
    height: 100%;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  select{
    border: 0;
    width: 100%;
    height: $cell_height;
    background-color: transparent;
  }
}
//信息列表
.cell.content{
  height: $cell_height_3;
  color: $cell_font_color2;
  font-size:$cell_font_2;
  &.header{
    font-size: $cell_font;
    height: $cell_height_2;
    div{
      @extend .bold;@extend .black;
    }
  }
}
//单行特殊提示
.cell.tips{
  font-size: $cell_font_2;
}

//图片list
.img_box{
  width: 100%;overflow: hidden;position: relative;
  .float_div{
    width:$left_right;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #ffffff;
    z-index: 2;
    &.more{
      left: auto;
      right: 0;
      width: $cell_more_width;
      background:  linear-gradient(left, rgba(255, 255, 255, 0.80),#FFFFFF);

    }
  }
  .more{
    display: flex;
    box-sizing: border-box;
    padding-right:$left_right;
    align-items: center;
    justify-content:flex-end;
    color: $cell_font_color4;
  }
  .cell.img_list{
    height: $cell_height_4;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    img{
      width: $global_min_img;
      height: $global_min_img;
      flex-shrink:0;
      margin-right: $global_min_img_mg;
    }

  }
}



p.info{font-size: 14px;padding: 0 $left_right;color: #999999}
